USE [master]
GO
/****** Object:  Database [CarRouteApp]    Script Date: 14.09.2023 17:59:23 ******/
CREATE DATABASE [CarRouteApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarRouteApp', FILENAME = N'C:\Users\PROTEK\CarRouteApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarRouteApp_log', FILENAME = N'C:\Users\PROTEK\CarRouteApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarRouteApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarRouteApp]
GO
/****** Object:  Table [dbo].[Routes]    Script Date: 14.09.2023 17:59:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Routes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[carPlate] [nvarchar](50) NOT NULL,
	[startLocationName] [nvarchar](50) NOT NULL,
	[startLocationLat] [nvarchar](max) NOT NULL,
	[startLocationLng] [nvarchar](max) NOT NULL,
	[endLocationName] [nvarchar](50) NOT NULL,
	[endLocationLat] [nvarchar](max) NOT NULL,
	[endLocationLng] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Rotates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Routes] ON 

INSERT [dbo].[Routes] ([Id], [carPlate], [startLocationName], [startLocationLat], [startLocationLng], [endLocationName], [endLocationLat], [endLocationLng]) VALUES (1, N'34AAA001 ', N'İstanbul', N'41.010844672564474', N'28.964803036576587', N'Münih', N'48.13328826033272', N'11.579212293453764')
INSERT [dbo].[Routes] ([Id], [carPlate], [startLocationName], [startLocationLat], [startLocationLng], [endLocationName], [endLocationLat], [endLocationLng]) VALUES (4, N'34AAA002', N'İstanbul', N'41.010844672564474', N'28.964803036576587', N'Trieste', N'45.64990719039119', N'13.778510264456921')
INSERT [dbo].[Routes] ([Id], [carPlate], [startLocationName], [startLocationLat], [startLocationLng], [endLocationName], [endLocationLat], [endLocationLng]) VALUES (5, N'34AAA003', N'İzmir', N'38.42273365771582', N'27.135364636185518', N'Bükreş', N'44.4245210890213', N'26.104573644388847')
SET IDENTITY_INSERT [dbo].[Routes] OFF
GO
USE [master]
GO
